body {
    background-color: pink;
    font-family: 'Courier New', monospace;
    text-align: center;
    margin-top: 60px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.5em;
}
